header {
 border: 5px solid #FFCCE6;
 background-color: #FFCCE6;
 padding: 5px 0px 0px 10px;
 color: #FFFFFF;
}

header h1 {
  color: #33002A;
}

body {
  background-color: #f9f9fa
}

body .todo, .done {
  color: rebeccapurple;
}
.todo,
.done {
  background: #fff;
  width: 30%;
  padding : 10px 10px 30px 30px;
  float: left;
  margin: 30px 30px 40px 20px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.add-items {
  margin-bottom: 1.5rem;
  overflow: hidden
  display: flex !important
}

ul {
  margin: 1.5rem 0;
  padding: 0.6rem 0.2rem;
  width: 100%;
}
li {
  list-style:none;
  padding: 0.6rem 1rem;
  margin : 0.6rem 0;
  border: 0.1rem solid #d1d1d1;
  width:80%
}

.form-control {
  border: 1px solid #f3f3f3;
  font-weight: 400;
  font-size: 0.875rem
}

.form-control {
  display: block;
  width: 80%;
  padding: 0.875rem 1.075rem;
  font-size: 1rem;
  line-height: 1;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}
